<section class="banner-inner">
    <h1> The Solution</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper">
       <h2>contact-us</h2>
       <div class="row contact">
          <div class="col-sm-12">
            <h3>SterilWize Systems</h3>
            <h4>We would like to hear from you.</h4>
                  <div class="address-info" uk-scrollspy-class="" style="">General Inquiries: <span id="cloak8cc23868b96c81e3af1306a410d2ee51"><a href="mailto:support@sterilwize.com">support@sterilwize.com</a></span><script type="text/javascript">
              document.getElementById('cloak8cc23868b96c81e3af1306a410d2ee51').innerHTML = '';
              var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
              var path = 'hr' + 'ef' + '=';
              var addy8cc23868b96c81e3af1306a410d2ee51 = 's&#117;pp&#111;rt' + '&#64;';
              addy8cc23868b96c81e3af1306a410d2ee51 = addy8cc23868b96c81e3af1306a410d2ee51 + 'st&#101;r&#105;lw&#105;z&#101;' + '&#46;' + 'c&#111;m';
              var addy_text8cc23868b96c81e3af1306a410d2ee51 = 's&#117;pp&#111;rt' + '&#64;' + 'st&#101;r&#105;lw&#105;z&#101;' + '&#46;' + 'c&#111;m';document.getElementById('cloak8cc23868b96c81e3af1306a410d2ee51').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy8cc23868b96c81e3af1306a410d2ee51 + '\'>'+addy_text8cc23868b96c81e3af1306a410d2ee51+'<\/a>';
          </script><br>

      Sales Inquiries: <span id="cloakfe9ea966a20bbade0c375533e53566ea"><a href="mailto:contact@sterilwize.com">contact@sterilwize.com</a></span><script type="text/javascript">
              document.getElementById('cloakfe9ea966a20bbade0c375533e53566ea').innerHTML = '';
              var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
              var path = 'hr' + 'ef' + '=';
              var addyfe9ea966a20bbade0c375533e53566ea = 'c&#111;nt&#97;ct' + '&#64;';
              addyfe9ea966a20bbade0c375533e53566ea = addyfe9ea966a20bbade0c375533e53566ea + 'st&#101;r&#105;lw&#105;z&#101;' + '&#46;' + 'c&#111;m';
              var addy_textfe9ea966a20bbade0c375533e53566ea = 'c&#111;nt&#97;ct' + '&#64;' + 'st&#101;r&#105;lw&#105;z&#101;' + '&#46;' + 'c&#111;m';document.getElementById('cloakfe9ea966a20bbade0c375533e53566ea').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyfe9ea966a20bbade0c375533e53566ea + '\'>'+addy_textfe9ea966a20bbade0c375533e53566ea+'<\/a>';
          </script><br>
          </div>
          <h4 class="call-info__contact">        
            <a href="tel:1-866-224-9493">1-866-224-WIZE</a><br>
            <a href="tel:1-866-224-9493">1-866-224-9493</a>    
          </h4>
          <a class="learn-more" href="https://wize.ai/contact-us/book-a-consult-demo">
            Book a Consult/Demo
          </a>
          <br>
          <br>
          <p>
            Suite 514, 218 Export Boulevard<br>
            Mississauga, ON, Canada L5S 0A7
          </p>

          </div>
        </div>  
      </div>
  </section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>