<section class="banner-inner">
    <h1> About us</h1>
  </section>

  

  <section class="sterilWize__overview padding70">
     <div class="body-wrapper">

        <h2 class="h2">Videos</h2>
        <h3 class="text-align">SterilWize Overview</h3>
        <iframe width="950" height="534" src="https://www.youtube.com/embed/kkYfbtmeMoI?disablekb=1" frameborder="0" allowfullscreen="" uk-responsive="" class="uk-responsive-width" style="height: 506px;"></iframe>
        <br>
        <br>
        <h3>Get to know us better </h3>
        <iframe width="950" height="534" src="https://www.youtube.com/embed/xcF766i2kLI?disablekb=1" frameborder="0" allowfullscreen="" uk-responsive="" class="uk-responsive-width" style="height: 506px;"></iframe>
        <div class="el-item uk-first-column">
            <a class="learn-more" href="#">
            Leadership Team
            </a>
            <a class="learn-more" href="#">
            Mission
            </a>
        </div>
     </div>
  </section>

  

  

<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>