<section class="banner-inner">
    <h1> The Solution</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper">
       <div class="inner-title text-center">
        <h2>Comprehensive Training</h2>
       </div> 
       <div class="row">
          <div class="col-sm-4">
          </div>  
          <div class="col-sm-8">
            
            <h3> Onsite Training</h3>
            <p>This allows SterilWize to identify each barcoded set of instruments from the beginning of sterilization through to the patient appointment where these instruments are used.  Reports are generated in which each instrument set is associated with all of its related data such as:</p>

            <ul>
             <li> Date & time of sterilization</li>
             <li>Cycle number with Temperature & pressure data</li>
             <li>Operator</li>
             <li>Sterilizer</li>
             <li>BI test</li>
             <li>BD test</li>
             <li>EI test</li>
            </ul>

            <p>
              When used with “Smart” sterilizers & “BI” incubators data is automatically collected and compiled into reports.
            </p>
            <p>
              Therefore, at any time in the future, you will easily be able to determine which set of instruments were used on a specific patient, on a specific date, and have all related data related to that particular set of instruments.
            </p>
            <p>
              Additional SterilWize features include step by step reference videos and information to help staff members ensure that all steps necessary for compliance are followed.
            </p>
            <p>Required IPAC Manuals, Equipment manuals, RCDSO, CDHO & Public Health Requirements & reference manuals are also available through this system.</p>
            <div class="el-item uk-first-column">
            <a class="learn-more" href="#">   
              The System
            </a>
            <a class="learn-more" href="#">       
              Training
            </a>
            <a class="learn-more" href="#">       
              Continuing Education
            </a>
            <a class="learn-more" href="#">       
             Testimonials
            </a>
        </div>
          </div> 
       </div>
     </div>
  </section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>