<section class="banner-inner">
    <h1> The Solution</h1>
</section>


<section class="sterilWize-inner padding70">
    <div class="body-wrapper">
        <div class="inner-title text-center">
            <h2>Continuing Education</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">

                <h3> Overview</h3>
                <p>SterilWize has arranged to provide the University of Toronto’s on-line Core 1 IPAC course available
                    to all office staff at a reduced cost to allow all personnel to receive the necessary training and
                    certificates that the standards require. These certificates can be uploaded to the staff section of
                    the office IPAC manual staff as required by the regulations.</p>

                <p>
                    SterilWize will also provide educational updates as necessary and discounts on other CE IPAC courses
                    that it sponsors.
                </p>

                <div class="el-item uk-first-column">
                    <a class="learn-more" href="#">
                        The System
                    </a>
                    <a class="learn-more" href="#">
                        Training
                    </a>
                    <a class="learn-more" href="#">
                        Continuing Education
                    </a>
                    <a class="learn-more" href="#">
                        Testimonials
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-tab">

</section>

<section class="solution padding70 text-center">
    <div class="body-wrapper">
        <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
        <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br>
            to demonstrate compliance is required.</p>
    </div>
</section>



<section class="request padding70">
    <div class="body-wrapper">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
                <a class="learn-more" href="#">get started</a>
            </div>
        </div>
    </div>
</section>