
<section class="banner">
  <div class="banner-wrapper">
      <img src="assets/images/banner.png">
      <div class="watch-now"><a class="learn-more" href="https://showtime.zoho.com/join#/10019491232/3240373000000232218">Watch Now</a></div>
    </div>
</section>

<section class="limited-offer padding70">
    <div class="body-wrapper">
      <div class="row align-items-center bonus">
        <div class="col-sm-3">
          <img src="assets/images/limited-offer.webp">
        </div>
        <div class="col-sm-9">
          <h1>
            Bonus: Paperless Covid -19 Consent, Screening & Reporting module at no extra cost.
          </h1>
        </div>
      </div>
  
      <div class="row what-is__sterilWize">
        <div class="col-sm-12">
          <h2 class="text-center">
            What is SterilWize?
          </h2>
          <p>
            The SterilWize instrument processing workflow management system will supervise all steps of your instrument
            processing Procedures, ensuring that all necessary steps are met, all necessary tests are correlated and each
            set of instruments is barcoded and tracked all the way from the beginning of the procedure to its use on a
            patient. With smart sterilizers, data can be collected directly from the sterilizers and correlated with BI
            incubator tests, BD tests and PCD tests.
          </p>
          <p>
            Wristbands worn by the staff member are used to document which staff member was responsible for each step of
            the entire process, with automated time and date stamping. Built in AI technology also helps to read the
            results of the BD, BI, and PCD tests and to validate the results. Photographs of each BI, BD and PCD test are
            also stored in the system indefinitely. Data that would normally be stored on thermal paper printouts, is
            automatically collected from the smart sterilizers and stored electronically, thereby eliminating the risk of
            thermal paper printouts deteriorating over time.
          </p>
          <p>
            All steps of the workflow are validated, and Reports are created automatically with all documentation needed
            to satisfy IPAC protocols. This system saves a tremendous amount of staff time and money, and it can ensure
            that there are no errors or omissions in the processes that could expose the dentist to a liability in the
            event of an inspection. In short, it delivers peace of mind to the dentist in regard to the instrument
            reprocessing cycle and documentation.
          </p>
          <p>Some additional features are the “Resource Center”, and the “COVID-19 screening & documentation module” The
            Resource Center contains all pertinent documentation that applies to the province or state regulations, Office
            manuals, equipment manuals, along with continuing education videos and training videos to reinforce the
            necessary steps of the IPAC process. These are all Contained in this SterilWize tablet and on the web app and
            thereby eliminates the necessity of paper manuals or references in the sterilization area.
          </p>
          <p>
            The new COVID-19 module provides a link for all patients to complete the necessary screening questionnaire
            from home or smartphone prior to entering the dental office for appointments. This data would then be merged
            with other data such as the patient temperature, which would be taken on entry to the building, and stored in
            SterilWize. A PDF report of the questionnaire and patient answers can be provided for storage in the Practice
            management system. This entire process can be accomplished without personal contact.
          </p>
          <p>
            The Sterilwize system differs from all other barcoding or labelling systems currently on the market in Canada
            in one very important way. It starts collecting and recording data right from the beginning of the instrument
            reprocessing cycle including appropriate pre-sterilization requirements including biological indicator
            confirmation of equipment efficacy. No other system does this. Why is this important? First it completely
            validates the process as data is taken directly from the sterilizer rather than requiring manual input that
            could be inaccurate. Secondly, it significantly reduces staff time and potential human error. Thirdly, it
            allows for integration of all patient IPAC data in one convenient location.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 what-is__left">
          <h3>Why SterilWize?</h3>
          <h4>SterilWize is the most comprehensive automated system to achieve compliance with data validation, while
            saving time, reducing human error, and automatically generating required IPAC reports.</h4>
          <h5>Excerpts from oralhealth article.</h5>
          <div class="expert-left__sec">
            <p>"There are many opportunities for errors in instrument reprocessing, any of which may cause a failure of
              the sterilization process and potentially put patients at risk of an infectious disease transmission.</p>
            <p>The RCDSO and PHAC have clear guidelines for instrument reprocessing, that if followed, will help to
              minimize the risk of processing errors. There are always the human factors to consider, however. OHCW’s may
              be inadequately trained and/or inexperienced, or they may be rushed due to scheduling or staffing issues.
            </p>
            <p>No matter what the cause, reducing the possibility of human error in instrument reprocessing can
              significantly reduce the risk of an infection prevention breach, as well as reduce liability to a dental
              practice or facility.</p>
            <p>Automating this process can reduce risk, increase compliance and enhance efficiency."</p>
          </div>
          <p>Managing records necessary for sterilization of Instruments and devices</p>
          <p class="text-title">INFECTION PREVENTION AND CONTROL</p>
        </div>
        <div class="col-sm-4 what-is__right">
          <h3>
            Blogs
          </h3>
          <div class="blog-subtitle">
            Key Components to a Comprehensive IPAC Plan: Are You Ready for a Public Health Inspection?
          </div>
          <p>
            About the Author. Susan McGuire, SQ Dental Services. Susan is an experienced Dental Consultant and Trainer.
            She is an expert at coaching and training staff to keep them up to date on specific and important areas of
            Regulatory
          </p>
          <a href="#" class="read-more">
            read more
          </a>
  
          <div class="covid-in">
            <div class="blog-subtitle">Covid 19: Implications for Returning to Practice </div>
            <p>It now appears that dental offices will be allowed to open before Covid-19 is totally
              eliminated as a risk to patients and health care workers. Opening will be conditional
              on dental offices following all IPAC guidelines currently in place as well as potential
              new requirements. A new reality will be the much higher likelihood that your practice may
              be subject to an inspection by public health. To understand why it is important to
              understand the circumstances that trigger inspections of dental offices.
            </p>
            <a href="#" class="read-more">
              read more
            </a>
          </div>
        </div>
      </div>
      <div class="special_discounts">
        <p><a href="#">Special discounts on Sterilization supplies & accessories</a></p>
      </div>
      <div class="our-services__info">
        <p><a href="tel:1-866-224-9493">1-866-224-WIZE</a></p>
        <p><a href="tel:1-866-224-9493">1-866-224-9493</a></p>
        <h3>Request an IPAC Consultation Now - <a href="/images/Flyer.jpg"
            style="text-align: center;color:#00aeef!important;">Our Services,</a>&nbsp;<a href="/images/BioArticle.jpg"
            style="text-align: center;color:#00aeef!important;">Meet Our Experts</a></h3>
        <a class="btn-now button-primary" href="https://wize.ai/contact-us/book-a-consult-demo">
          <span uk-icon="users" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg" data-svg="users">
              <circle fill="none" stroke="#000" stroke-width="1.1" cx="7.7" cy="8.6" r="3.5"></circle>
              <path fill="none" stroke="#000" stroke-width="1.1"
                d="M1,18.1 C1.7,14.6 4.4,12.1 7.6,12.1 C10.9,12.1 13.7,14.8 14.3,18.3"></path>
              <path fill="none" stroke="#000" stroke-width="1.1"
                d="M11.4,4 C12.8,2.4 15.4,2.8 16.3,4.7 C17.2,6.6 15.7,8.9 13.6,8.9 C16.5,8.9 18.8,11.3 19.2,14.1"></path>
            </svg></span>
          <span class="uk-text-middle ">Request Now</span>
        </a>
        <h3><a href="#"> hrKey Components to a Comprehensive IPAC Plan - Oral Health Group</a></h3>
        <h3>Book SterilWize Demo</h3>
        <figure><img src="assets/images/book_consultation.webp"></figure>
  
      </div>
    </div>
  </section>
  
  <section class="sterilWize__overview padding70">
    <div class="body-wrapper">
      <h3 class="text-align">SterilWize Overview</h3>
      <iframe width="950" height="534" src="https://www.youtube.com/embed/kkYfbtmeMoI?disablekb=1" frameborder="0"
        allowfullscreen="" uk-responsive="" class="uk-responsive-width" style="height: 506px;"></iframe>
      <br>
      <br>
      <h3>Get to know us better </h3>
      <iframe width="950" height="534" src="https://www.youtube.com/embed/xcF766i2kLI?disablekb=1" frameborder="0"
        allowfullscreen="" uk-responsive="" class="uk-responsive-width" style="height: 506px;"></iframe>
    </div>
  </section>
  
  <section class="sterilization-workflow padding70">
    <div class="body-wrapper">
      <div class="ster-title">
        <p><small>STERILWIZE</small></p>
        <h3> Sterilization Workflow Management System</h3>
      </div>
  
      <div class="row sterilization-inner">
        <div class="col-sm-6">
          <h4>Coaching</h4>
          <p>
            The SterilWize dashboard guides the staff member through the various steps of the sterilization process and if
            necessary can provide instant instructions and video demonstrations at any given step.
          </p>
        </div>
        <div class="col-sm-6">
          <h4>Monitoring</h4>
          <p>
            SterilWize ensures that each step in the Sterilization process is followed. The staff member performing each
            step of the process is automatically logged.
          </p>
        </div>
        <div class="col-sm-6">
          <h4>Data Collection and Storage</h4>
          <p>
            SterilWize automatically collects all necessary data and provides it to the clinic on a daily basis.
            Additionally, there is an encrypted cloud back-up of this data.</p>
  
          <p> The Sterilization records for each instrument set can also be linked directly to the specific patient
            appointment on which the instruments were used.</p>
          <a class="learn-more" href="#">learn more</a>
  
        </div>
        <div class="col-sm-6">
          <h4>Custom Report Generation</h4>
          <p>
            Detailed sterilization records can be instantly produced for any given time period, specific appointments or
            based on any other criteria.</p>
  
          <p> These reports contain the data required by the various regulatory bodies & public health authorities to
            demonstrate compliance with the required standards.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="customized-tablets">
    <div class="tablets-content">
      <p><small>STERILWIZE</small></p>
      <h3>SterilWize Customized Tablets</h3>
      <p> Sterilwize provides custom tablet computers whose dashboard is customized to the layout of your sterilization
        area and equipment.</p>
      <p>
        This dashboard is an interactive command center for all sterilization activities. The command center is organized
        by zones and colour coded to integrate the workflow and instructions exactly the way the staff member experiences
        the process.
      </p>
    </div>
    <div class="tab-img">
      <figure><img src="assets/images/tablet_master.webp"></figure>
    </div>
    <div class="body-wrapper">
      <div class="row tablets-col">
        <div class="col-sm-4">
          <h3>Assurance</h3>
          <p> First, it provides assurances to the clinic owner that the procedures are carried out properly in accordance
            with required standards.</p>
        </div>
        <div class="col-sm-4">
          <h3>Documentation</h3>
          <p>Instant digital documentation of all aspects of the sterilization process including staff member responsible,
            biologic indicators, the appropriate temperature, pressure and time specifications for the specific equipment
            used.</p>
        </div>
        <div class="col-sm-4">
          <h3>Compliance</h3>
          <p>Offers the opportunity to demonstrate conclusively to a patient, regulator, or public health authority that
            appropriate sterilization standards have been met.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="chart text-center padding70">
    <div class="body-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <figure><img src="assets/images/brochure_cover1.webp"></figure>
          <a class="download el-content uk-button uk-button-primary uk-button-large"
            href="https://wize.ai/images/downloads/SterilWize_Brochure_web.pdf" target="_blank">
            <span uk-icon="download" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg" data-svg="download">
                <polyline fill="none" stroke="#000" points="14,10 9.5,14.5 5,10"></polyline>
                <rect x="3" y="17" width="13" height="1"></rect>
                <line fill="none" stroke="#000" x1="9.5" y1="13.91" x2="9.5" y2="3"></line>
              </svg></span>
            <span class="uk-text-middle">Download SterilWize Brochure</span>
          </a>
        </div>
  
        <div class="col-sm-6">
          <figure><img src="assets/images/competitive_chart.webp"></figure>
          <a class="download el-content uk-button uk-button-primary uk-button-large"
            href="/images/downloads/Competitive_Analysis_Chart_Generic-2020-08-24.pdf" target="_blank">
            <span uk-icon="download" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg" data-svg="download">
                <polyline fill="none" stroke="#000" points="14,10 9.5,14.5 5,10"></polyline>
                <rect x="3" y="17" width="13" height="1"></rect>
                <line fill="none" stroke="#000" x1="9.5" y1="13.91" x2="9.5" y2="3"></line>
              </svg></span>
            <span class="uk-text-middle">Download Comparison Chart</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ster-systm">
    <p><small>STERILWIZE SYSTEM</small></p>
    <h3>Who Can Use SterilWize?</h3>
    <div class="row">
      <div class="col-sm-4">
        <a href="#">
          <figure><img src="assets/images/system-img-1.webp"></figure>
        </a>
        <h4><a href="#">Dental & Medical Clinics</a> </h4>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <figure><img src="assets/images/system-img-2.webp"></figure>
        </a>
        <h4><a href="#">Health Care Professionals</a> </h4>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <figure><img src="assets/images/system-img-3.webp"></figure>
        </a>
        <h4><a href="#">Hospitals</a> </h4>
      </div>
    </div>
  </section>


  <section class="request padding70">
    <div class="body-wrapper">
      <div class="row">
        <div class="col-sm-6 text-center">
          <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
          <a class="learn-more" href="#">get started</a>
        </div>
      </div>
    </div>
  </section>