<section class="banner-inner">
    <h1> Resources</h1>
  </section>

  
  <section class="sterilWize-inner padding70 resources">
     <div class="body-wrapper">
       <div class="row">
          <div class="col-sm-4">
          </div>  
          <div class="col-sm-8">
            <h3>The following information is available to SterilWize users </h3>
            <h4>Regulatory Documents</h4> 
             <ul>
             	<li>WHIMIS</li>
				<li>Public Health</li>
				<li>RCDSO Regulations</li>
				<li>CDHO Regulations</li>
             </ul>
             <p>MSDS Sheets</p>
             <p>Equipment Maintenance Schedules</p>
             <p>Office Manuals</p>
             <p>Internal and External Marketing Materials</p>
             <p>Guides</p>
             <p>Brochures</p>
             <p>Installation Guides</p>
             <p>SterilWize Brochure</p>
          </div>
    </div>
  </div>
</section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>
