<section class="banner-inner">
    <h1> About us</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper">
        <div class="inner-title text-center">
          <h2>SterilWize Solutions Leadership Team</h2>
        </div>  
       <div class="row">
          <div class="col-sm-4">
            <img src="assets/images/robert-carroll.webp">
          </div>  
          <div class="col-sm-8">
            
            <h3 class="h3">Dr. Robert Carroll</h3>
            <p><small>CHIEF DENTAL ADVISOR</small></p>
            <p>Dr. Robert Carroll graduated from the University of Western Ontario in 1973. He had a busy general practice in Orillia Ontario for 28 years. He joined the staff of RCDSO in September of 2001 as Manager of Professional Practice. This role included issues related to infection prevention and control. Dr. Carroll represented the RCDSO on the committee of health care regulators advising the Ministry of Health on infection control issues during the SARS outbreak in 2003.</p>

            <p>In 2008 Dr. Carroll joined the Faculty of Dentistry as Assistant Dean of Continuing Dental Education and Professional Relations. Infection Control and Prevention courses are offered by the CDE Department in both live and on-line options under Dr. Carroll’s direction. Dr. Carroll understands not only the rigors of dental practice and the challenges that infection control and prevention present in dental offices but also the regulatory requirements dentists must meet.</p>

            <p>Dr. Carroll is a Fellow of the International College of Dentists, the American College of Dentists, and the Pierre Fauchard Academy. Dr. Carroll had been a member of the ODA for over 45 years and has participated on local society executive committees for 15 years.</p>        
          </div>  
          <div class="col-sm-4">
            <img src="assets/images/claudio-tocchio.webp">
          </div>  
          <div class="col-sm-8">
            <p><small>CHIEF HOSPITAL ADVISOR</small></p>
            <h3 class="h3">Dr. Robert Carroll</h3>
            <p><small>CHIEF DENTAL ADVISOR</small></p>
            <p>Dr. Claudio Tocchio is licensed by the Royal College of Dental Surgeons of Ontario as an oral and maxillofacial surgeon. He began his education at McMaster University in Hamilton, ON, where he attended on a Governor’s Scholarship. His Doctorate of Dental Surgery was earned at the University of Toronto, followed by a General Practice Residency at Toronto Western Hospital. In order to specialize in oral surgery, Dr. Tocchio completed an Oral and Maxillofacial Surgery Residency at the Henry Ford Hospital in Detroit Michigan. For the past 30 years, he has provided only the highest quality oral and maxillofacial surgical treatments with an emphasis on patient comfort and experience.</p>

            <p>In addition to his private practice, Dr. Tocchio serves as Chief of Oral Maxillofacial Surgery at North York General Hospital. In the past, Dr. Tocchio has served as a staff surgeon at Sunnybrook & Womens College Hospitals, as well as at Toronto Hospital (Western & General Division).</p>

            <p><strong>Affiliations/Memberships</strong></p> 
            <ul>
              <li>1. Canadian Association of Oral & Maxillofacial Surgeons</li>
              <li>2. Royal College of Dental Surgeons of Ontario</li>
              <li>3. Ontario Society of Oral & Maxillofacial Surgeons, Past President and Executive Member</li>
              <li>4. Ontario & Canadian Dental Associations</li>
              <li>5. Canadian Dental Society of Anesthesiology</li>
              <li>6. American College of Dentists, Honorary Member</li>
              <li>7. Xi Psi Phi Dental Fraternity</li>
            </ul>       
          </div>  
          <div class="col-sm-4">
            <img src="assets/images/ushvinder-bhatia.webp">
          </div>  
          <div class="col-sm-8">
            <h3 class="h3">Ushvinder Bhatia</h3>
            <p><small>CHIEF TECHNOLOGY OFFICER</small></p>
            <p>Innovation. Leadership. Experience. Ushvinder (Ushi) brings these qualities to Wize.ai in abundance as its Chief Technology Officer. During his 25 years of entrepreneurship, he has launched and scaled a series of successful global businesses, while also implementing large-scale international programs for Fortune 500 companies. Across these ventures, Ushi leverages his MBA education (University of Toronto) and his far-reaching computer engineering capabilities – including mastery of B2B software, SaaS, and the internet of things (IOT) – as well as his expertise in Artificial Intelligence, SAP and Global supply-chain management.</p>

            <p>Passionate about technology and business management, Ushi is also an enthusiastic “people person.” He has forged powerful business alliances and partnerships with top Fortune 500 executives, visionary leaders and individuals from all walks of life. His enthusiasm for sharing knowledge and success inspires him to advise and enable many startups. He serves on the board of numerous fledgling companies as an Angel Investor; and, as a deeply committed advisor, he provides unmatched technological and business guidance.</p>

            <p>“Do. Or do not. There is no try” - Yoda</p>        
          </div>  
           <div class="col-sm-4">
            <img src="assets/images/anil-advani.webp">
          </div>  
          <div class="col-sm-8">
            <h3 class="h3">Anil Advani</h3>
            <p><small>CHIEF TECHNOLOGY OFFICER</small></p>
            <p>Anil Advani specializes in the representation of early stage startup companies, venture funds, institutional angel investors and many prominent angel investors in silicon valley, India and other startup jurisdictions around the world. In the last 17 years practicing law in Silicon Valley, Mr. Advani has represented more than 2,000 startup companies and numerous founders, venture capital investors, angel investors, investment banks and venture debt investors in silicon valley and across the world, on issues relating to formation, founder issues, consulting and advisory arrangements, capital structuring, angel financings, venture financings, debt financings, leasing, strategic licensing and customer arrangements, and mergers and acquisitions. Mr. Advani has represented clients in more than 300 financing and M&A transactions valued at over $2 billion in the aggregate.
            He also has an active practice representing:</p>

            <ul>
            <li> 1. U.S. based public companies, investment banks, financial institutions and venture funds on acquisitions, financings, joint ventures and other strategic transactions in India, and</li>
            <li>
              2. companies from New York, Los Angeles, Arizona, Chicago, India, Singapore, Turkey, Brazil, Mexico, Columbia, Croatia, Iceland, Czech, Hungary, Romania, South Africa, the U.K. and other world jurisdictions in setting up operations in Silicon Valley.
            </li>
             </ul>  
            <P>
              Prior to starting Inventus Law in September 2009, Mr. Advani was Of Counsel and Head of India Practice in the Menlo Park offices of Orrick, Herrington & Sutcliffe. Before joining Orrick, he was General Counsel and Vice President of SemIndia, a pioneering effort to establish semiconductor manufacturing in India. In that role, he was responsible for coordinating with the Government of India in formulating a comprehensive semiconductor policy for India as well as with the State of Andhra Pradesh in structuring Fab City in Hyderabad, Andhra Pradesh. Prior to joining SemIndia, Mr. Advani was a Senior Associate in the Silicon Valley offices of Cooley Godward where his practice focused on representing emerging companies and the venture funds and banks that finance those companies. Mr. Advani started his legal career practicing in the High Court of Delhi, India. He is licensed to practice in California, New York and New Delhi, India.
            </P>
            <P>
              Mr. Advani is fluent in English, Hindi, Sindhi and Punjabi, and loves Cricket, Golf, Basketball and Cycling.
            </P>        
          </div>

          <div class="col-sm-4">
            <img src="assets/images/susan-mcGuire.webp">
          </div>  
          <div class="col-sm-8">
            <h3 class="h3">Susan McGuire</h3>
            <p><small>PROFESSIONAL CONSULTANT AND TRAINER CERTIFIED WHMIS TRAINER, CDA LEVEL II, OSAP MEMBER</small></p>
            <p>Susan McGuire is an experienced Dental Consultant and Trainer. She is an expert at coaching and training staff to keep them up to date on specific and important areas of Regulatory Compliance. Susan has worked for 20 plus years in the Dental field as a Dental Healthcare Professional, Dental Manufacturing Rep, and Consultant. By taking a streamlined and practical approach to educating Dental Health Care Professionals, she succeeds in ensuring operational excellence in their practice. Susan has been focused on Compliance Training for over 4 years.</p>

            <p>Passionate about technology and business management, Ushi is also an enthusiastic “people person.” He has forged powerful business alliances and partnerships with top Fortune 500 executives, visionary leaders and individuals from all walks of life. His enthusiasm for sharing knowledge and success inspires him to advise and enable many startups. He serves on the board of numerous fledgling companies as an Angel Investor; and, as a deeply committed advisor, he provides unmatched technological and business guidance.</p>      
          </div>  

          <div class="col-sm-4">
            <img src="assets/images/mark.webp">
          </div>  
          <div class="col-sm-8">
            <h3 class="h3">DR. MARK HSIANG EN LIN</h3>
            <p><small>ADVISORY BOARD</small></p>
            <p>Founder of TIDE</p>
            <p>B.Sc., D.D.S., M.Sc. (Prosthodontics), F.R.C.D.(C)<p>
            <br>
            <P>
              Dr. Mark H.E. Lin graduated from the University Of Toronto in the Biochemistry Specialists honours program. He was a part of the world-renowned Oral Maxillofacial Surgical Externship program at the Parkland Hospital in Dallas, Texas and has also completed a 1-year General Practice Residency program at the Miami Valley Hospital in Dayton, Ohio
            </P>  
            <p>
              Dr. Lin practiced general dentistry for 13 years, He completed his postgraduate training in the specialty of Prosthodontics at the University Of Toronto.He conducted clinical research on the topic of “Advanced Anterior Implant Aesthetics” for his Master of Science thesis. He also served as an associate in dentistry surgical demonstrator in the postgraduate Periodontics discipline, at the Implant Prosthodontic Unit (IPU) and Surgical/Prosthodontic demonstrator in the graduate Prosthodontics discipline.
            <p> 
            <p>
              He is a Fellow and Diplomate with the International Congress of Oral Implantologists (ICOI) and an Associate Fellow and Fellow of the American Academy of Implant Dentistry (AAID) and also a graduate and Fellow with the Misch Implant Institute. He is a Diplomate with the American Board of Oral Implantology/Implant Dentistry (ABOI).
            </p>  

            <p>
              Dr. Lin is a faculty member of the International Team for Implantology (ITI) in Canada and co-director of the University of Toronto’s Aesthetics residency program. He is a Fellow and serves as an Examiner with the Royal College of Dentists of Canada in the specialty of Prosthodontics. He was a former assistant professor at the faculty of dentistry and a former co-director of the postgraduate Prosthodontics program and the implant Prosthodontics unit (IPU), the discipline of Prosthodontics at the University of Toronto.He is the founder and the director of T.I.D.E.
            </p>
            <p>
              Dr. Lin is also a co-investigator for many additional scientific studies at the Faculty of Dentistry Prosthodontics discipline. He has authored and published articles in many highly acclaimed peer review scientific journals. He is currently a contributing editorial board member in Prosthodontics for the Oral Health Journal.He is also part of the review committee for the submitted articles to the International Journal of Oral Maxillofacial Implants (IJOMI).
            </p>
            <p>
              Dr. Lin has given numerous lectures, presentations and courses on the topics of Implant Dentistry (Surgical/ Prosthetics), live surgical and prosthetic demonstrations with patient treatment, human cadaver surgical and implant courses, anterior implant aesthetics, implant complications and practice management. Over the past 35 years, he has given more than 500 lectures at various different professional and scientific meetings in Canada, U.S.A, Taiwan, Germany, India, Iran, United Arab Emirates, Sri Lanka, Korea, Japan and over 10 different cities in China. 
            </p>
            <div class="el-item uk-first-column">
            <a class="learn-more" href="#">
            Leadership Team
            </a>
            <a class="learn-more" href="#">
            Mission
            </a>
        </div>
          </div>  

       </div>
     </div>
  </section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>