<section class="sterilWize-inner client-testimonial padding70">
    <div class="body-wrapper">
      <div class="inner-title text-center">
       <h2>What do our clients say about us?</h2>
      </div> 
      <div class="row clients-row">
         <div class="col-sm-4 client-img">
           <figure><img src="images/julian_perez.webp"></figure>
         </div>  
         <div class="col-sm-8">
           <p>
             Several of our clinics have recently migrated from an analog data logging system to Sterilwize, and the results have been profound. The human error in instrument reprocessing was taken out of the equation. The digital logging capability significantly reduced the busy work in the steri-bay while eliminating the need to store masses of reprocessing logs. For dental clinics today, Sterilwize tracking software is a worthy investment in patient safety and peace of mind.
           </p>

           <P>
             <strong>Julian Perez</strong><br>
             V.P., Risk Management & Compliance<br>
             Dentalcorp.
           </P>    
           </div>
           <div class="col-sm-4 client-img">
             <figure><img src="images/dr_mark_lin.webp"></figure>
           </div>  
         <div class="col-sm-8">
           <p>
             I have incorporated the Sterilwize system as part of the infection control protocol within my specialty practice. It has been a valuable and indispensable system for us. It’s user friendly, totally paperless tracking and monitoring and time savings for my team members. Most importantly, it gives us a peace of mind knowing we have done our best to protect our patients.
           </p>

           <P>
             <strong>Dr. Mark Lin</strong><br>
             Founder of TIDE<br>
             Prosthodontist Dental Clinic<br>
             North York, Ontario
           </P>    
           </div>
           
           
           <div class="col-sm-4 client-img">
             <figure><img src="images/drsoll.webp"></figure>
           </div>  
         <div class="col-sm-8">
           <p>
           When I first heard about the SterilWize system I assumed it was like other barcoded systems similar to the one our office already had. Fortunately, I agreed to test it out and my office staff found it far superior to our current system. Most significantly, it substantially reduces the time for documentation and the chance of operator error. As a bonus it offered us the opportunity to not only meet the standards in this area but also to surpass them by having individual sterilization records instantly uploaded to the patient record with one additional click. 
           </p>

           <P>
             <strong>Dr. Jordan Soll</strong><br>
             Principal of Central Dental Group<br>
             Dental Expert for Cityline TV<br>
             Central Dental Group | Toronto, Ontario
           </P>    
           </div>
           <div class="col-sm-4 client-img">
             <figure><img src="images/dr_tanya.webp"></figure>
           </div>  
         <div class="col-sm-8">
           <p>
           Sterilwize is everything that a modern dental office needs today in order to comply with the strict Public Health regulations and to be worry free. It is simple to use, easy to train on, cost-effective and modern software/ hardware workflow system that collects and reports data. It simplified our mandatory instruments recording, it keeps track of our CE courses, equipment manuals and instructions for use and care. Its like a big umbrella that covers all aspects of office infection control management. We are proud to be the first pilot office in our area for the system. We love our Sterilwize.
           </p>

           <P>
             <strong>Dr. Tanya Bracanovich</strong><br>
             Sparks Dental Clinic<br>
             Ottawa Ontario<br>
           </P>    
           </div>
          <div class="col-sm-4 client-img">
             <figure><img src="images/drslome.webp"></figure>
           </div>  
         <div class="col-sm-8">
           <p>
          The burden and cost of regulatory compliance and administrative paperwork has increased dramatically over the years. SterilWize is a technology that is working well in our office to substantially reduce that burden and save considerable staff time that can be devoted to more productive  activities.
           </p>

           <P>
             <strong>Dr. Jack Slome</strong><br>
             Accolade Dental Centre<br>
             Toronto Ontario<br>
           </P>    
           </div>
           <div class="col-sm-4 client-img">
             <figure><img src="images/drchan.webp"></figure>
           </div>  
         <div class="col-sm-8">
           <p>
          I am very pleased to have invested in the SterilWize process. My staff found it easy to learn and created significant time savings for them. I am happy to know that mistakes are not being made and I have the necessary documents to meet my regulatory requirements. 
           </p>

           <P>
             <strong>Dr. Amelia Chan</strong><br>
             Downtown Dentistry<br>
             Toronto Ontario<br>
           </P>    
           </div>
           <div class="col-sm-4 client-img">
             <figure><img src="images/drmeisami.webp"></figure>
           </div>  
         <div class="col-sm-8">
           <p>
          Prior to SterilWize implementation – our staff spent a considerable amount of time monitoring the Sterilization process and manually creating sterilization records. 
           </p>
            <p>
          SterilWize automated this process with its workflow management system which helps to guide our staff through the Sterilization process to ensure IPAC requirements are met. 
           </p>
           <p>
          The system works quite well with our current sterilizers and may delay the need to upgrade our current sterilization equipment. This has enabled us to reduce the amount of staff time spent on Sterilization and thereby allowing them to focus on other revenue generating activities. 
           </p>

           <p>
             Receiving the automatically generated reports daily do really provide peace of mind!
           </p>

           <P>
             <strong>Tina Meisami, BSc, DDS, FRCDC, ABDSM</strong><br>
             Oral & Maxillofacial Surgery<br>
             Yorkville Oral Surgery<br>
             Staff Surgeon: Etobicoke General Hospital & North York General Hospital<br>
             Director Dental Sleep Medicine<br>
             University Health Network, TRI<br>
           </P>    
           </div>
         </div>
         <div class="row clinics">
           <div class="col-sm-4">
             <h4>Dental Clinics</h4>
           </div> 
            <div class="col-sm-4">
             <h4>Medical Clinics</h4>
           </div>
            <div class="col-sm-4">
             <h4>Hospitals</h4>
           </div>
            <div class="col-sm-4">
             <h4>Elective Surgery<br>
                 Clinics
               </h4>
           </div> 
           <div class="col-sm-4">
             <h4>Large Multi Professional Clinics</h4>
           </div> 
           <div class="col-sm-4">
             <h4>Veterinary <br>Clinics</h4>
           </div>
         </div> 
         <div class="row">
           <div class="col-sm-4">

           </div>
            <div class="col-sm-8">
             <h3>Solution Overview</h3>
             <p>
               The SterilWize system was developed with dental offices in mind but in fact can be used in any health care setting, large or small, that has sterilization requirements that must conform to strict public health standards. So if you are an individual dental or medical office, elective surgery clinic, veterinarian, or the administrator of a large multi professional clinic or hospital, SterilWize has a cost effective solution that will make compliance simple and reliable.
             </p>
           </div>
         </div>   
     </div>  
 </section>



<section class="bg-tab">
 
</section>

<section class="solution padding70 text-center">
 <div class="body-wrapper">
   <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
   <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
 </div>
</section>



<section class="request padding70">
  <div class="body-wrapper">
     <div class="row">
        <div class="col-sm-6 text-center">
          <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
          <a class="learn-more" href="#">get started</a>
        </div>
     </div>  
  </div>
</section>