<section class="banner-inner">
    <h1> The Solution</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper">
       <div class="inner-title text-center">
        <h2>The SterilWize System</h2>
       </div> 
       <div class="row">
          <div class="col-sm-4">
          </div>  
          <div class="col-sm-8">
            <h3>Overview</h3>

            <p>SterilWize offers an automated barcode instrument tracking program from start to finish including uploading to individual patient records. The system is individualized to each office setting and equipment used. Unlike other bar code systems, it makes the pen and paper entries or other manual procedures unnecessary. The records are emailed on a daily basis to the office and for additional security they are backed up in a Cloud based storage system. This allows a dental office to produce the sterilization records for any time segment on request.</p>

            <p>It also allows the office to provide any patient who is interested to have a print out of the confirmation that all instruments used for their appointment met the stringent standards required. Not only does this feature allow compliance to be easily demonstrated should an inspection occur, it also opens up an internal marketing opportunity to encourage patients who appreciate this feature to tell their friends and relatives about it.</p>

            <p>
              For further peace of mind, SterilWize only allows a staff member to proceed to the next step when the previous step has been satisfactorily completed. The system can also ensure individual staff compliance utilizing a radio frequency device that automatically records the staff member who performed every stage of the process.
            </p>

            <p>
              All of this documentation is emailed to the office on a daily basis and for additional security is backed up in SterilWize’s Cloud storage system.
            </p>
            
            <h3>Compatibility</h3>
          

            <p>
             SterilWize will work with all sterilization equipment including sterilizers and incubators even if the equipment is older and lacks the built in integration features. 
            </p>
            <p>
              The SterilWize system also recognizes biological as well as external indicators. Using artificial intelligence, it documents and stores evidence of success or failure as well as directing the process accordingly.
            </p>
            <div class="el-item uk-first-column">
            <a class="learn-more" href="#"> 
              Training
            </a>
            <a class="learn-more" href="#">       
              Continuing Education
            </a>
            <a class="learn-more" href="#">       
             Testimonials
            </a>
        </div>
          </div>
        </div>  
     </div>
  </section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>