<section class="banner-inner blog-banner">
    <h1> Blogs</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper"> 
       <div class="row">
          <div class="col-sm-6">
            <div class="blog-inner">
              <h3> Components to a Comprehensive IPAC Plan: Are You Ready for a Public Health Inspection?</h3>
              <p>About the Author. Susan McGuire, SQ Dental Services. Susan is an experienced Dental Consultant and Trainer. 
                She is an expert at coaching and training staff to keep them up to date on specific and important areas of Regulatory</p>
                <a href="#" class="read-more">read more</a>
            </div>
          </div>  
          <div class="col-sm-6">
            <div class="blog-inner">
              <h3>Covid 19: Implications for Returning to Practice </h3>
              <p><strong>now appears that dental offices will be allowed to open before Covid-19 is totally eliminated as a risk to patients and health 
              care workers. Opening will be conditional on dental offices following all IPAC guidelines currently in place as well 
              as potential new requirements.</strong>  A new reality will be the much higher likelihood that your practice may be subject to an inspection 
              by public health. To understand why it is important to understand the circumstances that trigger inspections of dental offices.</p>
              <a href="#" class="read-more">read more</a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="blog-inner">
              <figure><img src="images/dr_robert.webp"></figure>
              <h3>SterilWize Solutions Leadership Team</h3>
              <h4>Dr. Robert Carroll</h4>
              <h5>Chief Dental Advisor </h5>
              <p>Dr. Robert Carroll graduated from the University of Western Ontario in 1973. He had a busy general practice in Orillia 
              Ontario for 28 years.</p>

              <a href="#" class="read-more">read more</a>
            </div>  
          </div>  
        </div>
     </div>  
  </section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>