<section class="banner-inner">
    <h1> Support</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper">
       <div class="inner-title text-center">
        <h2>Contact Us</h2>
       </div> 
       <div class="row">
          <div class="col-sm-4">
            <div class="contact-info__left">
              <h3>Chat With Us</h3>
              <a class="learn-more">Chat Now</a>
           </div>
           <div class="contact-info__left">
                <h3>Call Us</h3>
                <a href="tel:18662249493">1-866-224-9493</a>
            </div>
            <div class="contact-info__left">
              <h3>Email Us</h3>
              <a class="uk-text-primary uk-margin-remove-vertical uk-text-left" href="mailto:support@sterilwize.com"><span id="cloak165f8c3d83f82d8c59e89e61c600cd97">support@sterilwize.com</span><script type="text/javascript">
                document.getElementById('cloak165f8c3d83f82d8c59e89e61c600cd97').innerHTML = '';
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy165f8c3d83f82d8c59e89e61c600cd97 = 's&#117;pp&#111;rt' + '&#64;';
                addy165f8c3d83f82d8c59e89e61c600cd97 = addy165f8c3d83f82d8c59e89e61c600cd97 + 'st&#101;r&#105;lw&#105;z&#101;' + '&#46;' + 'c&#111;m';
                var addy_text165f8c3d83f82d8c59e89e61c600cd97 = 's&#117;pp&#111;rt' + '&#64;' + 'st&#101;r&#105;lw&#105;z&#101;' + '&#46;' + 'c&#111;m';document.getElementById('cloak165f8c3d83f82d8c59e89e61c600cd97').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy165f8c3d83f82d8c59e89e61c600cd97 + '\'>'+addy_text165f8c3d83f82d8c59e89e61c600cd97+'<\/a>';
            </script></a>
             </div>
          </div>  
          <div class="col-sm-8">
            <div class="form-main__box">
              <form>
                <h3>Send us your support query </h3>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>Name <span>*</span> </label>
                    <input type="text" class="form-control" name="name">
                    <small>First</small>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>&nbsp; </label>
                    <input type="text" class="form-control" name="last">
                    <small>Last</small>
                  </div>
                  <div class="col-sm-12 form-group">
                    <label>Company Name <span>*</span> </label>
                    <input type="text" class="form-control" name="c-name">
                  </div>
                  <div class="col-sm-12 form-group">
                    <label>Email Address  <span>*</span> </label>
                    <input type="text" class="form-control" name="email-address">
                  </div>
                  <div class="col-sm-12 form-group">
                    <label>Phone No. <span>*</span> </label>
                    <input type="text" class="form-control" name="phone-number">
                  </div>
                  <div class="col-sm-12 form-group">
                    <label>Request for <span>*</span> </label>
                    <select class="form-control">
                      <option>New request</option>
                      <option>Change request</option>
                      <option>New request</option>
                    </select>
                  </div>
                  <div class="col-sm-12 form-group">
                    <label>General Queries <span>*</span> </label>
                    <textarea name="queries" class="form-control" id="" cols="30" rows="10"></textarea>
                  </div>
                  <div class="col-sm-12 form-group">
                    <label>Attachments<span>*</span> </label>
                    <input type="file" name="FileUpload" id="FileUpload-id" onchange="ZFLive.addMultipleFileUploadFields(this.files,'FileUpload','1')">
                  </div>
                  <div class="col-sm-12 form-group text-center">
                    <button class="sbmt-btn" name="submit" value="submit">
                      Submit
                      </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>  
     </div>
  </section>



<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>



<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>