<section class="banner-inner">
    <h1> About us</h1>
  </section>

  
  <section class="sterilWize-inner padding70">
     <div class="body-wrapper">
       <div class="inner-title text-center"> 
         <h2>Why SterilWize?</h2>
       </div>
       <div class="row">
          <div class="col-sm-4">
          </div>  
          <div class="col-sm-8">
            <h3 class="h3">A. Cost Saving</h3>
            <p>
              For most clinics staff time that must be dedicated to meet the IPAC Standards are an enormous challenge and cost. Sterilwize offers a cost effective technology solution that avoids the need to add additional staff or to pay overtime to current staff. In addition it reduces the chance of a patient complaint or a regulatory action and the significant legal cost associated with that.
            </p>
            <h3 class="h3">
              B. Practice Building
            </h3>
            <p>
              Patients today are aware of infection control issues in health clinics and many place a high importance on having the peace of mind to attend a clinic that places maximum importance on infection control. Sterilwize will provide literature designed for patients outlining the offices attention to infection control and how Sterilwize contributes to that. Offices can be branded as a “Sterilwize” office as a talking point for staff with patients. Office websites can feature the “Sterilwize advantage” as a promotional item. Sterilwize will provide a promotional video that can be shown on patient educational screens in the office or a link on the office website. Sterilwize has confirmed with practice marketing companies that this feature properly promoted could be a very successful internal and external marketing opportunity resulting in increased income and practice value.
            </p>
             <h3 class="h3"> C.Peace of Mind</h3>
             <p>
              In today's practice environment, anxieties related to IPAC compliance make peace of mind a challenge for both patients and health care professionals. Sterilwize takles the root cause by first assuring staff compliance in the absence of close supervision. In addition, Sterilwize provides the opportunity to demonstrate to patients the importance and care the clinic places on infection prevention and control. Most importantly, it provides the confidence that the clinic can demonstrate easily to a regulator, public health authority or to a patient and his or her lawyer that the clinic provides infection control meeting the highest standards.  Perhaps this is difficult to quantify in dollars but by any measure an extraordinary value - PEACE OF MIND.
            </p>
            <div class="el-item uk-first-column">
            <a class="learn-more" href="#">
            Leadership Team
            </a>
            <a class="learn-more" href="#">
            Mission
            </a>
        </div>
          </div>  
       </div>
     </div>
  </section>


<section class="bg-tab">
  
</section>

<section class="solution padding70 text-center">
  <div class="body-wrapper">
    <h3 class="h3"> Comprehensive SterilWize Solutions</h3>
    <p class="text">The system can be adapted to all situations where sterilization is used and documentation <br> to demonstrate compliance is required.</p>
  </div>
</section>


<section class="request padding70">
   <div class="body-wrapper">
      <div class="row">
         <div class="col-sm-6 text-center">
           <h3>Request an IPAC consultation or <br> SterilWize Demo</h3>
           <a class="learn-more" href="#">get started</a>
         </div>
      </div>  
   </div>
</section>